/* Remove this block after finishing layout */
/* .col-md-2, .col-md-10 {
  outline: 1px solid steelblue;
  min-height: 600px;
} */

/* .row {
  max-height: 800px;
} */

.col-md-2 {
  overflow-y: auto;
  max-height: 700px;
}